@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.anton-font {
  font-family: "Anton", sans-serif;
}
.issamannu-font {
  font-family: "GongGothicMedium";
}
.sbaggro-font {
  font-family: "SBAggroB";
}

body {
  background-color: #000000;
}
.display-container {
  max-width: 415px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

/*navbar*/
.navbar {
  z-index: 100;
  margin-top: 10px;
}
.logo img {
  width: 55px;
  margin-right: 220px;
}
.menu {
  color: white;
}

/*main session*/
.main {
  position: relative;
  min-height: 100vh;
}
.main > video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.sub-title {
  text-shadow: 2px 2px 5px black;
}
.btn-main {
  position: relative;
  z-index: 1;
  text-decoration-line: none;
  filter: drop-shadow(0px 0px 8px #ffffff);
}
.btn-main-waterisland-in {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #6bc6dd;
  background-color: #000000;
  width: 98%;
  height: 100%;
}
.btn-main-waterisland-out {
  position: absolute;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  background-color: #6bc6dd;
  width: 100%;
  height: 110%;
  z-index: -1;
}
.btn-main-waterisland-in:hover {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #ffffff;
  background-color: #55d6f6;
  width: 98%;
  height: 100%;
  transition: 0.3s;
}
.btn-main-romanticland-in {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #c62b6b;
  background-color: #000000;
  width: 98%;
  height: 100%;
}
.btn-main-romanticland-out {
  position: absolute;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  background-color: #c62b6b;
  width: 100%;
  height: 110%;
  z-index: -1;
}
.btn-main-romanticland-in:hover {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #ffffff;
  background-color: #e43a81;
  width: 98%;
  height: 100%;
  transition: 0.3s;
}

.btn-main-gardenland-in {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #287e3a;
  background-color: #000000;
  width: 98%;
  height: 100%;
}
.btn-main-gardenland-out {
  position: absolute;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  background-color: #287e3a;
  width: 100%;
  height: 110%;
  z-index: -1;
}
.btn-main-gardenland-in:hover {
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  color: #ffffff;
  background-color: #29a844;
  width: 98%;
  height: 100%;
  transition: 0.3s;
}
.wayto-water-island {
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
}
.wayto-water-island > p {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px #000000;
}
.wayto-water-island > img {
  width: auto;
  height: 40px;
  filter: drop-shadow(2px 2px 5px #000000);
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(33, 33, 33, 0);
  text-shadow: 2px 2px 5px black;
}

.glitch {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 6px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  background-color: rgba(33, 33, 33, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  background-color: rgba(33, 33, 33, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
/*waterisland section*/
.waterisland-section {
  position: relative;
  min-height: 100vh;
  color: #6bc6dd;
  padding-top: 100px;
}

.waterisland-title {
  position: relative; /*이 아이를 relative로 잡아줘야 얘를 기준으로 wave-line 이미지들이 이동*/
}
.warterland-title {
  -webkit-text-stroke: 1px #6bc6dd;
  color: transparent;
  font-size: 30px;
  margin-bottom: -30px;
}

.poolus-title {
  font-size: 100px;
}
.wave-line-1 {
  width: 100px;
  position: absolute;
  top: 10px; /*top 속성은 position 속성과 함께 사용
  top 을 가준으로 얼마나 밑에 위치시킬건지를 결정*/
  right: -65px; /*우측 기준으로 얼마나 좌측으로 위치시킬건지 결정, 역시 postion 속성과 함꼐 사용*/
}
.wave-line-2 {
  width: 100px;
  position: absolute;
  bottom: 50px;
  left: -65px;
  z-index: -1;
}

.waterisland-sentence {
  font-size: 15px;
  margin-top: 30px;
}
.main-waterIslandbtn {
  margin-top: 10px;
}
.main-waterIslandbtn button {
  border: none;
  background-color: #6cc7df;
  border-radius: 10px;
  font-size: 20px;
  width: 200px;
  padding: 10px;
}
.waterisland-img > img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.wayto-romantic-island {
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  left: 36%;
}
.wayto-romantic-island > p {
  font-size: 12px;
  font-weight: 900;
  color: #000000;
  filter: text-shadow(2px 2px 5px #000000);
  margin-bottom: 5px;
}
.wayto-romantic-island > img {
  width: auto;
  filter: drop-shadow(2px 2px 5px #000000);
  height: 40px;
}

/*romanticisland section*/
.romanticisland-section {
  color: #c62b6b;
  background-color: #9fd5f4;
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
}
.romanticland {
  position: relative;
  z-index: 1;
  -webkit-text-stroke: 1px #c62b6b;
  color: transparent;
  font-size: 30px;
  font-weight: 900;
}
.romanticisland-title {
  font-size: 100px;
  position: relative;
  z-index: 1;
}

.romantic-title {
  margin-top: -50px;
  position: relative;
}
.badge {
  background-color: #c62b6b;
  color: #9fd5f4;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.romantic-sentence {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
.romantic-cloud img {
  width: 155px;
}
.romantic-cloud img:nth-child(1) {
  position: absolute;
  top: 0;
  margin-top: 63px;
}
.romantic-cloud img:nth-child(2) {
  position: absolute;
  left: 270px;
  top: 260px;
}
.romantic-cloud img:nth-child(3) {
  position: absolute;
  bottom: 350px;
  left: -9px;
}
.romantic-heart img:nth-child(1) {
  width: 100px;
  position: absolute;
  left: 50px;
}
.romantic-heart img:nth-child(2) {
  position: absolute;
  right: 90px;
  width: 50px;
}
.romantic-heart img:nth-child(3) {
  position: absolute;
  width: 50px;
  right: 42px;
  bottom: 290px;
}
.romantic-clude-bottom > img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.wayto-garden-island {
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  left: 36%;
}
.wayto-garden-island > p {
  font-size: 12px;
  font-weight: 900;
  color: #c62b6b;
  margin-bottom: 5px;
}
.wayto-garden-island > img {
  width: auto;
  height: 40px;
  color: #c62b6b;
}

/*gardenisland section*/
.gardenisland-section {
  min-height: 100vh;
  color: #287e3a;
  background-color: #fef5e8;
  position: relative;
  padding-top: 100px;
}
.gardenisland-title {
  position: relative;
  z-index: 1;
}
.gardenland {
  -webkit-text-stroke: 1px #287e3a;
  color: transparent;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: -30px;
}
.gardenisland-title {
  color: #287e3a;
  font-size: 100px;
}
.garden-sentence {
  position: relative;
  color: #287e3a;
  font-size: 15px;
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.garden-button {
  margin-top: 30px;
  position: relative;
  z-index: 1;
}
.garden-button button {
  border: none;
  color: #fef5e8;
  background-color: #287e3a;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.garden-clude img:nth-child(1) {
  position: absolute;
  width: 155px;
  top: 122px;
}
.garden-clude img:nth-child(2) {
  position: absolute;
  width: 155px;
  top: 250px;
  right: -20px;
}
.garden-clude img:nth-child(3) {
  position: absolute;
  width: 155px;
  bottom: 472px;
}
.garden-clude img:nth-child(4) {
  position: absolute;
  width: 100px;
  bottom: 337px;
  right: 6px;
}
.garden-island-bottom > img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
