@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@font-face {
  font-family: "GongGothicMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.anton-font {
  font-family: "Anton", sans-serif;
}

.isamanroo-font {
  font-family: "GongGothicMedium", sans-serif;
}

body {
  background-color: #0f0f0f;
}
.display-container {
  max-width: 415px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}
.main {
  position: relative;
  min-height: 100vh;
}
.main > video {
  z-index: -1;
  position: absolute; /*relative가 없으므로 body가 부모로 포지셔닝*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*스크롤이 생성되지 않고 사용자의 화면 크기만큼*/
}
.maintext {
  color: #fff;
  text-shadow: 2px 2px 5px black;
  margin: 1px 0 1px 0;
}
.btn-main {
  position: relative;
  z-index: 1;
  text-decoration-line: none;
  filter: drop-shadow(0px 0px 8px #ffffff);
}
.btn-main-waterisland-in {
  color: #6bc6dd;
  background-color: #000000;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-waterisland-out {
  position: absolute;
  color: #6bc6dd;
  width: 100%;
  height: 110%;
  z-index: -1; /*postion을 써야 먹음*/
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-waterisland-in:hover {
  color: #ffffff;
  background-color: #55d6f6;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  transition: 0.3s;
}
.btn-main-romantic-in {
  color: #c62b6b;
  background-color: #000000;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-romantic-out {
  position: absolute;
  color: #c62b6b;
  width: 100%;
  height: 110%;
  z-index: -1; /*postion을 써야 먹음*/
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-romantic-in:hover {
  color: #ffffff;
  background-color: #e43a81;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  transition: 0.3s;
}
.btn-main-gardenlsland-in {
  color: #287e3a;
  background-color: #000000;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-gardenlsland-out {
  position: absolute;
  color: #287e3a;
  width: 100%;
  height: 110%;
  z-index: -1; /*postion을 써야 먹음*/
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
}
.btn-main-gardenlsland-in:hover {
  color: #ffffff;
  background-color: #29a844;
  width: 98%;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 66%, 91% 100%, 0 100%, 0 34%);
  transition: 0.3s;
}
.wayto-water-island {
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin-bottom: 35px;
}
.wayto-water-island p {
  font-size: 12px;
  color: #ffffff;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 5px;
}
.wayto-water-island img {
  width: auto;
  height: 40px;
  filter: drop-shadow(2px 2px 5px black);
}

.glitch {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  text-shadow: 2px 2px 5px black;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
